<script src="{{"js/clipboard.min.js" | relURL}}"></script>

<link href="{{"css/featherlight.min.css" | relURL}}" rel="stylesheet">
<script src="{{"js/featherlight.min.js" | relURL}}"></script>

{{if eq .Site.Params.highlightClientSide true}}
<script src="{{"js/highlight.pack.js" | relURL}}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{end}}

<script src="{{(printf "theme-%s/script.js" (.Site.Params.themeStyle| default "flex")) | relURL}}"></script>

<link href="{{"mermaid/mermaid.css" | relURL}}" type="text/css" rel="stylesheet" />
<script src="{{"mermaid/mermaid.js" | relURL}}"></script>
<script>
    mermaid.initialize({ startOnLoad: true });
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P4CXTW');</script><!-- End Google Tag Manager --><!-- Google Tag Manager --><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MQFZWG');</script>
<!-- End Google Tag Manager -->
